@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>ASP.NET + Facebook</h1>
    <h2>Account Id: @ViewBag.AccountId; Account Name: @ViewBag.AccountName</h2>
    <h3 class="">Utilize os links no menu acima.</h3>    
</div>